{%extends 'base.html' %}

{% block content %}
{% load static %}
<div class="card mb-3 border-0">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="{% static 'pages/img5.jpg' %}" class="rounded" alt="..." style="width: 85%;">
        </div>
        <div class="col-md-8 text-end">
            <div class="card-body mt-5">
                <h1 class="card-title">מי אנחנו?</h1>
                <p class="card-text mt-3" style="max-width: 400px;">ללורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית
                    ושבעגט ליבם סולגק. בראיט ולחת
                    צורק מונחף, בגורמי מגמש. תרבנך וסתעד לכנו סתשם השמה - לתכי מורגם בורק? לתיג ישבעס.</p>
            </div>
        </div>
    </div>
</div>

<div class="card mb-3 border-0" dir="ltr">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="{% static 'pages/img1.jpg' %}" class="rounded" alt="..." style="width: 85%;">
        </div>
        <div class="col-md-8 text-end">
            <div class="card-body mt-5">
                <div class="row">
                    <div class="col-auto align-self-start">
                        <h1 class="card-title text-end ms-5 ps-5"> המטרה שלנו</h1>
                        <p class="card-text mt-3" style="max-width: 400px;">ללורם איפסום דולור סיט אמט, קונסקטורר
                            אדיפיסינג
                            אלית
                            ושבעגט ליבם סולגק. בראיט ולחת
                            צורק מונחף, בגורמי מגמש. תרבנך וסתעד לכנו סתשם השמה - לתכי מורגם בורק? לתיג ישבעס.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card mb-3 border-0">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="{% static 'pages/img4.jpg' %}" class="rounded" alt="..." style="width: 85%;">
        </div>
        <div class="col-md-8 text-end">
            <div class="card-body mt-5">
                <h1 class="card-title">ההתחיבות לאיכות</h1>
                <p class="card-text mt-3" style="max-width: 400px;">ללורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית
                    ושבעגט ליבם סולגק. בראיט ולחת
                    צורק מונחף, בגורמי מגמש. תרבנך וסתעד לכנו סתשם השמה - לתכי מורגם בורק? לתיג ישבעס.</p>
            </div>
        </div>
    </div>
</div>
{% block optional %}
{% endblock %}
{% endblock %}