{% extends "base.html" %}

{% block main_block %}


  <form metheod='post' action='{% url 'login' %}' class="login__form">
      <div class="login__form--top">
          <input type="username" placeholder="Username" />
          <input type="password" placeholder="Password" />
      </div>
      <div class="login__form--bottom">
          <input type="submit" value="login" class="login__button btn" />
          <input type="hidden" name="next" value="{{ next }}" class="next__button btn"/>
      </div>
  </form>

{% endblock %}