main {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -40%);
    width: 50%;
}

.copyright {
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -95%);
}
